@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.App {
    background-color: #0A0E17;
    text-align: center;
    height: 100vh;
}

.header{
    color:white;
    font-family: 'Raleway', sans-serif;
    padding:2%;
}

.header1 {
    font-family: 'Raleway', sans-serif;

}